@page
@model WebApplication2.Pages.KimLarsenModel
@{
    Layout = "_Layout"; // Angiver, at denne side bruger en fælles layout-fil (_Layout.cshtml), som indeholder den overordnede struktur for siden.
}

<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8"> <!-- Definerer tegnkodningen for dokumentet som UTF-8, hvilket understøtter danske tegn. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Sikrer, at siden tilpasser sig forskellige skærmstørrelser på mobil og desktop. -->
    <title>Franz Beckerlee</title> <!-- Viser sidens titel i browsertabben. -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #CC5500;
            background-image: url('pictures/goldenpicture.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 70px;
            padding: 15px;
            display: fixed;
            justify-content: center;
            align-items: center;
            height: 110vh;
            overflow-x: auto;
        }

        .container {
            width: 80%;
            margin: 0px auto;
            padding: 10px;
            border-radius: 10px;
            background: #FFFFFF;
            background-image: url('pictures/sorthvid.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        }

        h1, h2 {
            text-align: center;
            color: #f7d200;
        }

        .subheader {
            text-align: center;
            color: #f7d200;
            font-size: 20px;
            margin-top: 10px;
        }

        .bio p {
            font-size: 16px;
            color: #FFFFFF;
            text-align: justify;
            margin-bottom: 20px;
        }

        .video-section video {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        .songs ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            .songs ul li {
                font-size: 16px;
                color: #FFFFFF;
                margin: 10px 0;
            }

  
    </style>
</head>

<body>

    <div class="container">
        <header class="header">
            <h1>Bjørn Uglebjerg</h1>
        </header>

        <section class="picture" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img src="~/pictures/Bjørnuglebjerg3.png" alt="Bjørn Uglebjerg" width="300">
        </section>

        <section class="bio">
            <h2>Gaoslins første trommeslager </h2>
            <p>
                Bjørn Uglebjerg  var en benyttet studiemusiker og trommeslager i diverse konstellationer.
                Han var selv en meget vellidt person i musiske kredse.
                Han var først trommeslager i Gasolin og fast medlem af Frede Norbirks gruppe Frede Fup.
                Bjørn Uglebjerg dannede par med Susanne Mertz, som er datter af kunstmaleren Albert Mertz.

            </p>

            <p>
                Bjørn Uglebjerg valgte at forlade Gasolin i 1971,
                for at tilbringe mere tid med Susanne Mertz. Han blev derfor i 1971 udskiftet med Søren Berlev, 
               som medvirkede senere hen som trommeslager og percussionist på Skousen & Ingemanns.
                
            </p>


            <section class="tekstbillede">
                <h2>Gik bort i 1994. Ifølge tilgængelige kilder skyldtes hans død kræft i bugspytkirtlen. </h2>

        </section>
          <section class="picture" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img src="~/pictures/BjørnUglebjerg5.png" alt="Bjørn Uglebjerg" width="300">
        </section>
        

         <footer>
            <p>&copy; 2025 Bjør Uglebjerg. Alle rettigheder forbeholdes.</p>
        </footer>
    </div>

</body>

</html>
